
.search {
    position: sticky;
    top : 0;
    background-color: white;
    height: 50px;
    z-index: 1000;
    padding: 5px;
    
}

.search-form {
    display: flex;
    
    align-items: center;
}
.search-form input {
    padding: 5px;
    font-size: 15px;
    font-family: "맑은고딕";
    border: 0px;
}
.search-form input:focus {
    outline: 0;
}
.search-form button {
    width: 60px;
    height: 32px;
    border: 0;
}